.imgstyle{
  width:200rem;
}
.error{
      background-color: #222;
      border-radius: 4px;
      border-style: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
      margin: 0;
      max-width: none;
      min-height: 44px;
      min-width: 10px;
      outline: none;
      overflow: hidden;
      padding: 9px 20px 8px;
      position: relative;
      text-align: center;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 20%;
      margin-left: 40%;
      margin-top: 20%;
    }
    
    .error:hover,
    .error:focus {
      opacity: .75;
    } 


.error1{
    text-align: center;
   margin-top: 20%;
}

.home{
    margin-top: 20%;
    font-size: 70px;
    
}
.navbar_bg{
  background-color: var(--bgcolor) ;
  z-index: 99;
  position: relative;
}

.navbar a{
  font-size: 2rem;
  font-weight: normal;
}

.navbar li{
  padding: 0 1.5rem;
}

.navbar li a{
font-size: 1.2rem;
font-weight: lighter;
}
.navbar li a:hover{
  color: cornflowerblue !important;
   text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}


.btn-style {
    align-items: center;
    background-color: teal;
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 70px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: lighter;
    padding: 0 2rem;
    column-gap: 1rem;
  }
  .btn-style:first-child{
    margin-right: 2rem;
  }
  
  .btn-style:hover,
  .btn-style:focus { 
    background-color: cornflowerblue;
    color: #ffffff;
  }
.btn-style1 {
    align-items: center;
    background-color: teal;
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 80px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    
    font-weight: lighter;
    padding: 0 2rem;
    column-gap: 1rem;
  }
 
  
  .btn-style1:hover,
  .btn-style1:focus { 
    background-color: cornflowerblue;
    color: #ffffff;
  }

  header{
background-color:#ffffff;
max-height: 100vh;
width: 100%;
  }
  .main-hero-container{
height: 80vh;
display: flex;
  }
 .main-hero-container h1{
   text-transform: capitalize;
   font-weight: bold;
 }
  .main-hero-container h3{
    font-weight: lighter;
    margin: 3rem 0 3rem 0;
  }
  .main-herosection-images{
    position: relative;
  }
  .main-herosection-images img{
width: 90vh;
height: 50vh;
border-radius: 1.5rem;
box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
justify-content: center;
/* position: absolute; */
margin-top: 5rem;
}
.work-container{
  width:80vw;
  justify-content: center;
  box-shadow:0 .4rem 1.2rem rgba(0, 0, 0, 0.3) ;
  border-radius: 0.5rem;
  background-color: linen; 
  margin-top: 5rem;
  padding: 2.5rem;
}

.work-container .main-heading{
font-size: 2.5rem;
font-weight: bolder;
margin-bottom: 4rem;
word-spacing: 0.5rem;
}

.work-container-subdiv{
  padding: 0 rem;
}

.work-container .sub-heading{
  font-size: 2.5rem;
}

.fontawesome-style{
  font-size: 2.3rem;
  color: teal;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #ffff;
  display: grid;
  place-items: center;
  margin: 2rem auto;
}
